@import "tailwindcss";

@theme {
  --spacing: 4px;
  --font-body: var(--font-dm-sans), sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --color-dark-green: #012f25;
  --color-card-green: #09614e;
  --color-main-bg: #ffffff;
  --color-navbar-bg: #f2f6f4;
  --color-light-green: #eafff0;
  --color-yellow: #fdcd31;
  --color-black: #000000;
  --testimonialText: #232222;

  --font-satoshi: "Satoshi", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
@layer utilities {
  /* Gradient border only for mobile and tablet */
  @media (max-width: 1023px) {
    .gradient-border {
      position: relative;
      border-radius: 1.2rem;
      overflow: hidden; /* ensures rounding applies visually */
      z-index: 0;
    }

    .gradient-border::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 2.5px;
      background: linear-gradient(
        119.25deg,
        #012f25 9.24%,
        #fdcd31 35.93%,
        #012f25 62.26%,
        #2c4a27 62.32%,
        #fdcd31 84.27%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 1;
    }
  }

  /* Remove gradient border on desktop */
  @media (min-width: 1024px) {
    .gradient-border::before {
      display: none;
    }
  }
}

.clip-slant {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}
/* :root {
  font-size: 62.5%;
} */

/* Custom utility to hide scrollbars while keeping scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
@layer utilities {
  .text-gradient {
    background-image: linear-gradient(90deg, #012f25 12.28%, #fdcd31 28.47%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
